@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_slnt,wght.ttf);
    font-display: swap;
}

:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    --Off-white: hsl(36, 100%, 99%);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--Off-white);
    display: flex;
    flex-direction: column;
    width: 100%;
}

p {
    color: var(--Dark-grayish-blue);
    line-height: 1.75rem;
}

.header-container {
    padding: clamp(2rem, 5vw, 50px) clamp(1.25rem, 2vw, 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-width: 13vw;
}

.header-logo img {
    height: clamp(2rem, 4vw, 3rem);
    width: 100%;
}

#menu-toggle-inp {
    display: none;
}

.nav-options {
    position: absolute;
    background-color: var(--Off-white);
    right: 0;
    top: 16vw;
    width: 0;
    height: 100vh;
    box-shadow: -100vw -20vw 0 100vw #0000;
    overflow: hidden;
    padding: 10vh 0px;
    transition: width .5s ease-in, box-shadow 0.5s ease-in;
}

#menu-toggle-inp:checked~.nav-options {
    display: unset;
    width: 65vw;
    box-shadow: -65vw -20vw 0 0 #0007;
}

.open-menu {
    width: 2.65rem;
    height: 1.15rem;
}

.close-menu {
    width: 2rem;
    height: 2rem;
}


#menu-toggle-inp:checked~.menu-icon .open-menu {
    visibility: hidden;
}

.close-menu {
    visibility: hidden;
    position: absolute;
    right: 30px;
}

#menu-toggle-inp:checked~.menu-icon .close-menu {
    position: relative;
    right: auto;
    visibility: visible;
}

.menu-img {
    transition: transform .5s ease-out;
}

#menu-toggle-inp:checked~.menu-icon .menu-img {
    transform: rotate3d(0, 1, 1, 360deg);
}

.nav-options li a {
    color: var(--Very-dark-blue);
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    padding: 7px 7vw;
    margin: 5px 0;
}

.main-container {
    padding: 0 clamp(1.25rem, 2vw, 100px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 20px;
}

.poster {
    height: 80vw;
    width: 100%;
}

.main-title {
    color: var(--Very-dark-blue);
    font-weight: 800;
    font-size: clamp(3rem, 7vw, 4rem);
}

.read-more-button {
    background-color: var(--Soft-red);
    border: 0;
    padding: 1rem 2rem;
    margin: 20px 0;
    color: var(--Off-white);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .25rem;
    max-width: 15rem;
}

.aside-container {
    background-color: var(--Very-dark-blue);
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    padding: 20px;
}

.aside-title {
    color: var(--Soft-orange);
    font-size: clamp(2rem, 9vw, 2.5rem);
    font-weight: 700;
    padding: 0.25em 0;
}

.aside-item-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 1rem 0;
    padding-top: 2rem;
}

.aside-item {
    padding: clamp(2rem, 2vw, 3rem) 0;
    border-top: 1px solid var(--Dark-grayish-blue);
}

.aside-item:first-child {
    padding-top: 0;
    border-top: none;
}

.aside-item:last-child {
    padding-bottom: 0;
}

.aside-item-title {
    text-decoration: none;
    color: var(--Off-white);
    font-weight: 700;
    font-size: 1.25rem;
}

.aside-item p {
    color: var(--Grayish-blue);
    padding-top: 1rem;
}

.footer-container {
    padding: 2.5rem clamp(1.25rem, 2vw, 100px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1rem;
}

.footer-aside {
    height: auto;
    display: flex;
    gap: 1.5rem;
}

.footer-aside-figure {
    width: 8rem;
    height: 8.5rem;
}

.footer-aside-figure img {
    width: 6.5rem;
    height: 8.5rem;
}

.footer-aside-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-aside h2 {
    color: var(--Grayish-blue);
    font-weight: 700;
    font-size: 2rem;
}

.footer-aside a {
    text-decoration: none;
    font-weight: 700;
    color: var(--Very-dark-blue);
    font-size: 1.25rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}